$primary: #165b8c;
$secondary: #4a7797;
$success: #1d8372;
$warning: #E67E22;
$dark: #04121c;

$font-family-sans-serif: 'Albert Sans', 'Futura', 'Avenir', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 700;
$enable-negative-margins: true;